ol {
    background-color: yellow;
}

ol li:nth-of-type(2n){
    color: green;
}

ol li:nth-of-type(2n+1){
    text-transform: uppercase;
}

.header-style{
    color: red;
}

h1.header-style{
    font-size: 40px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

li {
    font-size: 20px;
}

li em {
    font-weight: bold;
}

ul:nth-last-of-type(2) li:nth-child(-n+3){
    color: blue;
}

ul:nth-last-of-type(2) li:nth-child(n+2):nth-child(-n+3){
    background-color: pink;
}

ul.aliados li:hover{
    font-weight: bold;
}

ul.aliados li:nth-of-type(1) :hover{
    color: orange;
}

ul.aliados li:nth-of-type(2) :hover{
    color: green;
}

ul.aliados li:nth-of-type(3) :hover{
    color: black;
}

ul.aliados li:nth-of-type(4) :hover{
    color: yellow;
}

ul.aliados li:nth-of-type(5) :hover{
    color: green;
}